<div *ngIf="photos" style="display: flex; flex-wrap: wrap; gap: 0.5em;">
    <mat-card style="border: 1px solid rgb(167, 165, 165);" class="example-card" *ngFor="let p of photos">
        <mat-card-content style="max-width: 150px;">
            <a href="{{p.url}}"><img mat-card-image [src]="p.thumbnailUrl" [alt]="p.title"></a>
            <p>{{p.title}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>